.navbar {
  z-index: -1.5;
  font-size: 25px;
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 620px;
  margin-top: -100px;
   
  
}

.navbar .nav-link{
    color: #CCAC73;
    transition: color 0.3s ease; 
}

.navbar .nav-link:hover{
    color: #CCAC73;
}

.backgroundimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #350000; 
    z-index: -1; 
    
   
}

.navbar::after {
    content: "";
    display: block;
    height: 2px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -60px;
    
    
    }
  

footer {
    
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
} 

footer p{
    margin: auto;
    font-weight: bold;
    color:black ;
    text-decoration: underline;
    }

.imagelogob {
    width: 200px;
    height: 90px;
    margin-left: 30px;
    margin-top: 10px;
}

.textoRapido{
    color: #CCAC73;
    margin-left: 150px;
    position: absolute;
    top: 250px; /* Altere a posição como necessário */

}


.textoTituloGrande{
    color: #CCAC73;
    margin-top: 249px;
    position: absolute;
    margin-left: 150px;
    font-size: 450%;
    width: 500px; /* Defina a largura do contêiner */
    word-wrap: break-word; /* Quebra palavras longas se não couber */
    overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
    z-index: 1;
    

}

.textoTextoPequeno{
    color: #CCAC73;
    margin-left: 150px;
    margin-top: 470px;
    z-index: 9;
    width: 500px; /* Defina a largura do contêiner */
    word-wrap: break-word; /* Quebra palavras longas se não couber */
    overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
    position: absolute;
}

.slide-container{
    color: #CCAC73;
    margin-left: 350px;
    margin-top: 10px;
    z-index: 2;
    width: 500px; /* Defina a largura do contêiner */
    word-wrap: break-word; /* Quebra palavras longas se não couber */
    overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
}

.imageAdvogado{
    width: 600px;
    height: 750px;
    left: 700px;
    margin-top: 10px;
    position: absolute;
    z-index: 10;

}

.imageAdvogada{
    width: 600px;
    height: 750px;
    left: 2100px;
    margin-top: 10px;
    position: absolute;
    z-index: 10;

}

.nomep {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    bottom: 110px;  
    z-index: 10;
    margin-left: 1000px;
    color: black;
    font-size: 28px;
    font-family: 'Mulish', sans-serif
}

.nomeoab {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    bottom: 80px;  
    z-index: 10;
    margin-left: 1030px;
    color: red;
    font-size: 23px;
    font-family: 'Mulish', sans-serif
}

.nomep2 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    bottom: 110px;  
    z-index: 10;
    margin-left: 1510px;
    color: black;
    font-size: 28px;
    font-family: 'Mulish', sans-serif
}

.nomeoab2 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    bottom: 80px;  
    z-index: 10;
    margin-left: 1510px;
    color: red;
    font-size: 23px;
    font-family: 'Mulish', sans-serif

}

.quadrado {
    width: 860px;
    height: 750px;
    border: 15px solid black; 
    background-color: transparent; 
    z-index: -1;
    left: 700px;
    margin-top: 40px;
    position: absolute;
    margin-left: 200px;
}

    


