.textopequenoFinal {
    color: #CCAC73;
     
}

.paginaFinal {
    margin-top: 3450px;
    position: absolute;
    height: 50vh; /* A página vai ocupar 100% da altura da tela */
}


  .logofinal {
    width: 300px;
    height: 130px;
    margin-left: 50px;
  }

  .Letragrandefinal {
    color: white;
    margin-left: 620px;
    margin-top: -150px;
    font-size: 25px;
    font-weight: bolder;
  }

  .listinha {
   color: white;
   margin-left: 610px;
   margin-top: 30px;
  }

  .Letragrandeass {
    margin-left: 930px;
    margin-top: -200px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
  }

  .listinha2 {
    color: white;
    margin-left: 920px;
    margin-top: 30px;
   }

   .Letragrandecontato{
    color: white;
    margin-left: 1300px;
    margin-top: -300px;
    font-size: 25px;
    font-weight: bolder;
   }

  .numerofinal {
    color: white;
    margin-left: 1290px;
    margin-top: 30px;
  }

  .emailfinal {
    color: white;
    margin-left: 1290px;
    margin-top: 20px;
  }

  .Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 30px;
    margin-left: 180px;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: red;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
    
  }
  
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
  }

  
.link-custom {
    text-decoration: none;  
    color: inherit;         
    font-weight: normal;    
  }
  
  .link-custom:hover {
    text-decoration: underline; 
  }

  @media (max-width: 480px) {
    .textopequenoFinal {
      color: #CCAC73;
       
  }
  
  .paginaFinal {
      margin-top: 2700px;
      position: absolute;
      height: 10vh; /* A página vai ocupar 100% da altura da tela */
  }
  
  
    .logofinal {
      width: 130px;
      height: 70px;
      margin-left: 20px;
      margin-top: -10px;
    }
  
    .Letragrandefinal {
      color: white;
      margin-left: 250px;
      margin-top: -12 0px;
      font-size: 14px;
      font-weight: bolder;
    }
  
    .listinha {
     color: white;
     margin-left: 230px;
     margin-top: 30px;
     font-size: 11px;
    }
  
    .Letragrandeass {
      margin-left: 270px;
      margin-top: -122px;
      color: white;
      font-weight: bolder;
      font-size: 10px;
      opacity: 0;
    }
  
    .listinha2 {
      color: white;
      margin-left: 250px;
      margin-top: 30px;
      font-size: 8px;
      opacity: 0;
     }
  
     .Letragrandecontato{
      color: white;
      margin-left: 395px;
      margin-top: -167px;
      font-size: 10px;
      font-weight: bolder;
      opacity: 0;
     }
  
    .numerofinal {
      color: white;
      margin-left: 390px;
      margin-top: 32px;
      font-size: 8px;
      opacity: 0;
    }
  
    .emailfinal {
      color: white;
      margin-left: 380px;
      margin-top: 20px;
      font-size: 8px;
      opacity: 0;
    }
  
    .Btn {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      position: relative;
      /* overflow: hidden; */
      border-radius: 7px;
      cursor: pointer;
      transition: all .3s;
      margin-top: 20px;
      margin-left: 70px;
    }
    
    .svgContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      backdrop-filter: blur(4px);
      letter-spacing: 0.8px;
      border-radius: 10px;
      transition: all .3s;
      border: 1px solid rgba(156, 156, 156, 0.466);
    }
    
    .BG {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: red;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      z-index: -1;
      border-radius: 9px;
      pointer-events: none;
      transition: all .3s;
      
    }
    
    
    .Btn:hover .BG {
      transform: rotate(35deg);
      transform-origin: bottom;
    }
    
    .Btn:hover .svgContainer {
      background-color: rgba(156, 156, 156, 0.466);
    }
  
    
  .link-custom {
      text-decoration: none;  
      color: inherit;         
      font-weight: normal;    
    }
    
    .link-custom:hover {
      text-decoration: underline; 
    }
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    .textopequenoFinal {
      color: #CCAC73;
       
  }
  
  .paginaFinal {
      margin-top: 3450px;
      position: absolute;
      height: 50vh; /* A página vai ocupar 100% da altura da tela */
  }
  
  
    .logofinal {
      width: 200px;
      height: 100px;
      margin-left: 30px;
    }
  
    .Letragrandefinal {
      color: white;
      margin-left: 300px;
      margin-top: -146px;
      font-size: 14px;
      font-weight: bolder;
    }
  
    .listinha {
     color: white;
     margin-left: 285px;
     margin-top: 30px;
     font-size: 12px;
    }
  
    .Letragrandeass {
      margin-left: 440px;
      margin-top: -156px;
      color: white;
      font-weight: bolder;
      font-size: 14px;
    }
  
    .listinha2 {
      color: white;
      margin-left: 420px;
      margin-top: 30px;
      font-size: 12px;
     }
  
     .Letragrandecontato{
      color: white;
      margin-left: 620px;
      margin-top: -229px;
      font-size: 14px;
      font-weight: bolder;
     }
  
    .numerofinal {
      color: white;
      margin-left: 600px;
      margin-top: 32px;
      font-size: 12px;
    }
  
    .emailfinal {
      color: white;
      margin-left: 580px;
      margin-top: 20px;
      font-size: 12px;
    }
  
    .Btn {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      position: relative;
      /* overflow: hidden; */
      border-radius: 7px;
      cursor: pointer;
      transition: all .3s;
      margin-top: 30px;
      margin-left: 100px;
    }
    
    .svgContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      backdrop-filter: blur(4px);
      letter-spacing: 0.8px;
      border-radius: 10px;
      transition: all .3s;
      border: 1px solid rgba(156, 156, 156, 0.466);
    }
    
    .BG {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: red;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      z-index: -1;
      border-radius: 9px;
      pointer-events: none;
      transition: all .3s;
      
    }
    
    
    .Btn:hover .BG {
      transform: rotate(35deg);
      transform-origin: bottom;
    }
    
    .Btn:hover .svgContainer {
      background-color: rgba(156, 156, 156, 0.466);
    }
  
    
  .link-custom {
      text-decoration: none;  
      color: inherit;         
      font-weight: normal;    
    }
    
    .link-custom:hover {
      text-decoration: underline; 
    }
  }
