.sobretela {
    margin-top: 80px;
    position: absolute;
    height: 80vh; /* A página vai ocupar 100% da altura da tela */
}

.backgroundSobre {
    position: relative;
    top: 50px;
    z-index: -1;
    left: 250px;
  }


.backgroundSobre h2 {
    font-weight: 400;
    font-size: 250px;
    line-height: 220px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #CCAC73;
    opacity: .1;
    
    
}


.Sobre {
    margin-top: -150px;
    position: absolute;
    color: #CCAC73;
    font-size: 450%;
    margin-left: 280px;
    word-wrap: break-word; /* Quebra palavras longas se não couber */
    overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
    width: 500px;
}

.Sobrepequeno {
    margin-top: 90px;
    color: #CCAC73;
    width: 500px; /* Defina a largura do contêiner */
    word-wrap: break-word; /* Quebra palavras longas se não couber */
    overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
    position: absolute;
    margin-left: 280px;
    
}

.ImagemSobre {
        width: 500px;
        height: 400px;
        left: 1050px;
        margin-top: -150px;
        position: absolute;
    
}

.SobreNos {
    margin-top: 10px;
    color: #CCAC73;
    margin-left: 880px;
    font-size: 20px;
    margin-top: 170px;
}

.Infos {
    color: whitesmoke;
    margin-left: 700px;
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    font-weight:bolder;


}


.Infos::after {
    content: "";
    display: block;
    height: 1px;
    width: 5%;
    background-color: #CCAC73;
    position: absolute;
    bottom: 0;
    left: 970px;
    margin-left: -80px;
    top: 270px;
    z-index: -1; 
    
    }

    @media screen and (max-width: 680px) {
        .section1{
            display: flex;
            text-align: center;
            justify-items: center;
            justify-content: center;
            margin-left: auto;
        }
    }
    
    @media (max-width: 480px) {
        .sobretela {
            margin-top: 680px;
            position: absolute;
            height: 80vh; /* A página vai ocupar 100% da altura da tela */
            max-width: 50vh;
        }
        
        .backgroundSobre {
            position: relative;
            top: 60px;
            z-index: -1;
            left: 10px;
          }
        
        
        .backgroundSobre h2 {
            font-weight: 400;
            font-size: 110px;
            line-height: 140px;
            text-transform: uppercase;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #CCAC73;
            opacity: .1;
            width: 200px;
            
            
        }
        
        
        .Sobre {
            margin-top: -200px;
            position: absolute;
            color: #CCAC73;
            font-size: 220%;
            margin-left: 90px;
            word-wrap: break-word; /* Quebra palavras longas se não couber */
            overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
            width: 300px;
        }
        
        .Sobrepequeno {
            margin-top: -50px;
            color: #CCAC73;
            width: 330px; /* Defina a largura do contêiner */
            word-wrap: break-word; /* Quebra palavras longas se não couber */
            overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
            position: absolute;
            margin-left: 50px;
            font-size: 10px;
            
        }
        
        .ImagemSobre {
                width: 210px;
                height: 210px;
                left: 30px;
                margin-top: -680px;
                margin-left: 70px;
                z-index: 1;
            
        }
        
        .SobreNos {
            color: #CCAC73;
            margin-left: 163px;
            font-size: 17px;
            margin-top: 400px;
        }
        
        .Infos {
            color: whitesmoke;
            margin-left: 40px;
            font-size: 20px;
            font-family: 'Mulish', sans-serif;
            font-weight:bolder;
            width: 400px;
        
        }
        
        
        .Infos::after {
            content: "";
            display: block;
            height: 1px;
            width: 26%;
            background-color: #CCAC73;
            position: absolute;
            bottom: 0;
            left: 970px;
            margin-left: -810px;
            top: 500px;
            z-index: -1; 
            
            }
    }
